.container-login {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 80px;
    display: block;
    margin: 5px;
}

.loginemail {
    margin: 20px auto;
    display: block;
    padding: 10px;
    border: none;
    text-transform: capitalize;
}

.loginpassword {
    margin: 20px auto;
    display: block;
    padding: 10px;
    border: none;
    text-transform: capitalize;
}

::placeholder {
    color: #4444;
}

.submit-btn {
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: black;
    color: #fff;
    border-radius: 2px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    display: block;
    margin: 30px 0;
}
.checkbox{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #0000;
    cursor: pointer;
}

.checkbox:checked{
    background: #ffffff;
}

.checkbox::after{
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    pointer-events: none;
    background-image: url(../images/check.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.checkbox:checked::after{
    display: block;
}

label{
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #ffffff;
}

label a{
    color: #ffffff;
}

.link{
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
    display: block;
}


.signupemail {
    margin: 20px auto;
    display: block;
    padding: 10px;
    border: none;
    text-transform: capitalize;
}

.signuppassword {
    margin: 20px auto;
    display: block;
    padding: 10px;
    border: none;
    text-transform: capitalize;
}

.signupnumber {
    margin: 20px auto;
    display: block;
    padding: 10px;
    border: none;
    text-transform: capitalize;
}

.signupname {
    margin: 20px auto;
    display: block;
    padding: 10px;
    border: none;
    text-transform: capitalize;
}

.container-signup {
    position: relative;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}